span {
    position:relative;
    padding-right:10px;
    cursor:pointer;
}
span:before,
span:after {
    border:4px solid transparent;
    content:"";
    position:absolute;
    top:50%;
    right:0px;
}

span:before {
    margin-top:-9px;
    border-bottom-color:white;
}

span:after {
    border-top-color:white;
}

span.desc:before {
    border-bottom-color:transparent;
}
span.asc:after {
    border-top-color:transparent;
}
