* {
    box-sizing: border-box;
}

body {
    margin:0px;
    padding:0px;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
}

:root {
    --app-blue: #488aff;
    --app-deep-grey: #3d3d3d;
    --app-light-grey:#f6f6f6;
    --app-black:#000000;
    --app-red:#f41000;
}
