* {
    box-sizing: border-box;
}

body {
    margin:0px;
    padding:0px;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
}

body.hide-scroll {
    overflow:hidden
}


:root {
    --app-blue: #488aff;
    --app-deep-grey: rgb(61, 67, 87);
    --app-light-blue:#eff4f8;
    --app-black:#000000;
    --app-red:#f41000;
    --app-yellow:#e28b00;
    --app-light-orange:#fbe1bc;
}
