.modal {
    position:absolute;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    left:0;
    right:0;
    z-index:10;
    background:#fff;
    display:initial;
    opacity:1;
    padding:10px;
    border-radius:3px;
}
.closed {
    display:none;
    opacity:0;    
}
.close {
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

.btn {
    background:var(--app-black);
    color:white;
    border-width:0px;
    border-radius:3px;
    padding:5px;
    margin-top:3px;
    cursor:pointer;
}

.btn:active {
   background:var(--app-deep-grey); 
}

.btn:focus {
  outline: 0;
}