ul {
    list-style:none;
    padding-left:0;
    border:1px solid var(--app-black);
    border-radius:3px;
    cursor:text;
    margin:0;
    display:flex;
    flex-flow:row wrap;
}
li {
    display:inline-block;
    margin:3px;
    padding:5px;
    border-radius:3px;
    flex:1 1 auto;
}


.multi-select {
    margin-bottom:3px;
    position:relative;
}

.text-input{
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    padding:0;
}
.text-input:focus {
    outline: 0;
}

.category-item {
    background-color:var(--app-black);
    color:white;
}

.showdropdonw {
    display:block;
}
