main {
    display:flex;
    flex-flow:row wrap;
    padding:5px;
    align-content:stretch;
}

main > * {
    flex:1 100%;
}
@media (min-width: 768px) {
     .app-control {
        flex:1 0px;
    }
    .app-content {
        flex:6 0px;
    }
}
.app-control {
    padding:5px;
}

.app-content {
    padding:5px;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:space-between;
    align-content:flex-start;
} 


table {
    background-color:var(--app-black);
    border-spacing:1px;
    width:100%;
    flex:1 0 auto;
}

th {
    padding:10px;
}
tr:nth-child(even) {
    background-color:var(--app-light-blue);
}
tr:nth-child(odd) {
    background-color:white;
}

tr:first-child.table-head{
    background-color:var(--app-black);
    color:white;
}
tr:hover {
    background-color:var(--app-light-orange);
}

a {
    color:var(--app-blue);
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}